
/* Checkbox */

.taskCheck{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 20px;
}

.taskCheck:hover{
    cursor: pointer;
}

.checkIcon{
    position: relative;
}


.checkIconChecked{
    position: absolute;
    bottom: 5px;
    left: 8px;
    transition: 0.3s;
}


.checkIconChecked {
    animation-duration: 0.15s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }