/* Options */

.options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 50px;
}

.iconMore {
  height: 40px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.taskOptions {
  margin-left: 30px;
  margin-top: 200px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  z-index: 9999;
  width: 240px;
  height: 150px;
  background-color: #fbfbfbb0;
  backdrop-filter: blur(3px);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  animation-duration: 0.3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 50px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.oneOption {
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  border-radius: 12px;
  width: 95%;
  height: 42px;
  background-color: transparent;
}

.options p {
  font-weight: 500;
  color: #5c5c5c;
}

.oneOption:hover {
  background-color: #d9d9d98e;
}

.optionTaskIcon {
  margin-left: 8px;
  margin-right: 12px;
}

.optionTaskIcon path {
  stroke: #5c5c5c;
}
