
.todoTasks{
    position: relative;
    width: 100%;
    min-height: 300px;
}

.todoTasksLine{
    border-top: 1px solid var(--line-color);
    width: calc(100% - 200px);
    margin: 0px 100px;
    height: 1px;
}

.tasks{
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
}

.oneTask{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    width: calc(100% - 200px);
    min-height: 50px;
}

.oneTask:first-child{
    margin-top: 0px;
}

.taskText{
    position: relative;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.taskText h3{
    color: var(--primary-color) ;
    font-weight: 400;
    font-size: 20px;
}

