
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: rgb(214, 214, 214);
}

.appWrapper {
    padding: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    background: rgb(255, 255, 255);
}
